* {
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    line-height: normal;
}

body {
    margin: 0;
    padding: 0;
}

.main {
    flex-grow: 1;
    background: linear-gradient(180.00deg, rgba(245, 245, 245, 0) 1%, rgba(245, 245, 245, 1) 100%);
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.btn-primary {
    border-radius: 2px;
    background: rgba(24, 144, 255, 1);
    border: 1px solid rgba(24, 144, 255, 1);
    color: #FFF;
}

.btn-outline {
    box-sizing: border-box;
    border: 1px solid var(--Gray / gray-5, rgba(217, 217, 217, 1));
    border-radius: 2px;
    background: rgba(255, 255, 255, 1);
    color: #595959;
}

.btn {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 4px;
    outline: none;
    cursor: pointer;
}

.logo {
    max-width: 100px;
}

.logo img {
    width: 100%;
}

.header {
    min-height: 124px;
    display: flex;
    align-items: center;

}

.header-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

;

.main {}


.footer {
    min-height: 156px;
    display: flex;
    align-items: center;
    padding: 60px 0;
}

.footer-box {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 36px;
}

.footer-nav {
    flex-grow: 1;
}

.footer-nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
}

.footer-nav ul li {
    color: rgba(89, 89, 89, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.banner {
    margin-bottom: 56px;
}

.banner-item {
    background-image: url(./images/banners/banner-image.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
    padding: 68px;
    border-radius: 10px;
    background-color: rgba(255, 241, 184, 1);
}

.banner-item--title {
    color: rgba(48, 44, 52, 1);
    font-size: 39px;
    font-weight: 700;
    letter-spacing: 0%;
    max-width: 50%;
    margin-top: 0;
    margin-bottom: 15px;
}

.banner-item--subtitle {
    color: rgba(48, 44, 52, 1);
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0%;
    max-width: 50%;
    margin: 0;
}

.products-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
}

.products-header--title {
    color: rgba(0, 0, 0, 1);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: left;
    margin: 0;
}

.products-header--search {
    border: 1px solid rgba(217, 217, 217, 1);
    border-radius: 2px;
    background: rgba(255, 255, 255, 1);
    min-width: 306px;
    height: 34px;
    padding: 5px 12px;
}

.products-header--search:focus {
    outline: none;
    border: 1px solid rgba(217, 217, 217, 1);
}

.products-header--search::placeholder {
    color: var(--Gray / gray-6, rgba(191, 191, 191, 1));

    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.products-wrapper {
    margin-top: 44px;
    margin-bottom: 90px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 30px;
}

.products-card {
    width: calc((100% - 48px)/3);
    border-radius: 7px;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
    background: rgba(255, 255, 255, 1);
    overflow: hidden;
    text-decoration: none;
}

.products-card_image {
    width: 100%
}

.products-card_image img {
    width: 100%;

}

.products-card-description {
    padding: 20px 24px 34px 24px;
}

.products-card-description-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products-card-description-row:not(:last-child) {
    margin-bottom: 10px;
}

.products-card-description--title {
    color: rgba(0, 0, 0, 1);
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0;
}

.products-card-description--badge {
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0%;
    text-align: left;

    border-radius: 2px;
    background: rgba(38, 38, 38, 1);
    padding: 1px 8px;
}

.products-card-description-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    row-gap: 8px;
    column-gap: 25px;
    flex-wrap: wrap;
}

.products-card-description-info--rating {
    color: rgba(255, 193, 7, 1);
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}

.products-card-description-info--price {
    color: rgba(140, 140, 140, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
}

.products-card-description-info--group {
    color: rgba(140, 140, 140, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    position: relative;
}

.products-card-description-info--group::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgba(140, 140, 140, 1);

    position: absolute;
    left: -14px;
    top: 14px;


}

.products-card-description--text {
    margin: 0;

    color: rgba(140, 140, 140, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
}

.products-card-description--title {
    color: rgba(0, 0, 0, 1);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

.products-card-description-controls {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 30px;
    row-gap: 8px;
    margin-top: 25px;
}

.products-card-description-controls--price {
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
}

.cart-modal_overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.40);
    align-items: center;
    justify-content: center;

}

.cart-modal_overlay.open {
    display: flex;
}

.cart-modal {
    width: 100%;
    max-width: 780px;
    padding: 40px 45px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 1);
}

.cart-modal_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 48px;
}

.cart-modal_header--title {
    color: rgba(0, 0, 0, 1);
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    text-align: left;
    margin: 0;
}

.cart-modal_header--close {
    cursor: pointer;
}

.cart-modal_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 50px;
}

.cart-modal_footer--price {
    border-radius: 5px;
    background: rgba(38, 38, 38, 1);
    color: rgba(250, 250, 250, 1);
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    text-align: left;
    padding: 15px 20px;
}

.cart-modal_footer--controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #D9D9D9;
}

.cart-item:not(:last-child) {
    margin-bottom: 10px;
}

.cart-item_title {
    color: rgba(0, 0, 0, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    margin: 0;
}

.cart-item_controls {
    display: flex;
    align-items: center;

}

.cart-item_controls--price {
    margin-right: 47px;
    color: rgba(0, 0, 0, 1);
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
}

.cart-item_controls button {
    border: 1px solid rgba(64, 169, 255, 1);
    border-radius: 2px;
    background: rgba(255, 255, 255, 1);
    color: rgba(64, 169, 255, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}

.cart-item_controls--count {
    margin-left: 15px;
    margin-right: 15px;
}

@media (max-width: 991px) {
    .banner-item--title {
        max-width: 100%;
    }

    .banner-item--subtitle {
        max-width: 100%;
    }

    .products-card {
        width: calc((100% - 24px)/2);
    }

    .banner-item {
        background-image: none;
    }
}

@media (max-width: 768px) {
    .products-card {
        width: 100%;
    }
}