* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.main {
    flex-grow: 1;
    background: linear-gradient(180.00deg, rgba(245, 245, 245, 0) 1%, rgba(245, 245, 245, 1) 100%);
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.btn-primary {
    border-radius: 2px;
    background: rgba(24, 144, 255, 1);
    border: 1px solid rgba(24, 144, 255, 1);
    color: #FFF;
}

.btn-outline {
    box-sizing: border-box;
    border: 1px solid var(--Gray / gray-5, rgba(217, 217, 217, 1));
    border-radius: 2px;
    background: rgba(255, 255, 255, 1);
    color: #595959;
}

.btn {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 4px;
    outline: none;
}

.logo {
    max-width: 100px;
}

.logo img {
    width: 100%;
}

.header {
    min-height: 124px;
    display: flex;
    align-items: center;

}

.header-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

;

.main {}


.footer {
    min-height: 156px;
    display: flex;
    align-items: center;
}

.footer-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav {
    flex-grow: 1;
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}